.card {
    @include flex-column-center;
    width: auto;
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    gap: 1rem;
    background-color: $secondary-background;
    color: $secondary-font;
    border: 0.1rem solid $primary-border;
    border-radius: 0.5rem;
}
